.button {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 100%;
  padding: 0 5px;

  &:focus,
  &:hover {
    border: none !important;
    outline: none;
    height: 100% !important;
  }
}

.disabled {
  background-color: grey !important;
  cursor: not-allowed;
}
