.error {
  &__content {
    min-height: 20rem;
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 900;
    }
  }

  &__message {
    &.message {
      width: 100%;
      display: flex;

      p {
        font-size: 2em;
        width: 40%;
        padding: 0 2rem;
      }
      img {
        width: 40%;
        padding: 0 5%;
        height: auto;
        margin: 0 auto;
      }
    }
  }
}
