.error {
  &__content {
    min-height: 20rem;
  }
  &__message {
    &.message {
      width: 70rem;
      margin: 0 auto;
      margin-bottom: 5rem;
      h1 {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 900;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
