// variables
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
$primary-color: #ca786d;
$font-primary: "Inter", sans-serif;
$primary-color-darker: #9e3021;
$font-quotes: "Mali", cursive;
$font-button-hover: white;
