@import "../../../styles/common/global.scss";

@media (min-width: 992px) {
  .menu {
    align-items: center;
    z-index: 10;
    height: 100%;
    &Item {
      list-style: none;
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 3px;
        background-color: $primary-color;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover::before {
          left: 0;
          right: auto;
          width: 100%;
        }
      }
    }
    .Container {
      flex-direction: row;
    }
    &Toggle {
      display: none;
    }
  }
  .cart {
    font-size: 30px;
    cursor: pointer;
  }
  svg path {
    stroke: rgb(0, 0, 0);
  }
}
