@import "./../common/variables.scss";
// ant design
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding: 0 8px;
}
.ant-select-selection-item {
  height: 32px;
  > img {
    height: 100%;
  }
}
.ant-select-item-option-content {
  height: 32px;
  > img {
    height: 100%;
  }
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent;
  border: none;
}
//*Search
.ant-input-group-wrapper .ant-input-search {
}
.ant-input {
  font-family: $font-primary;
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary) {
  background: transparent;
  border-radius: 0 25px 25px 0;
}
.ant-input-group > .ant-input:first-child,
.ant-input-group-addon:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
// react-slider
.react-slideshow-container + ul.indicators {
  position: relative;
  z-index: 2;
  top: -40px;
}
.react-slideshow-container + ul.indicators {
  gap: 0 10px;
}
.react-slideshow-container {
  position: relative;
}
.react-slideshow-container:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.7861519607843137) 0%,
    rgba(255, 0, 54, 0.16430322128851538) 100%
  );
  z-index: 1;
}
