@import "./../../../../styles/common/variables.scss";

.signin {
  &Container {
    position: relative;
    width: 50%;
    margin: 2rem auto;
    border-radius: 50px;

    .InputContainer {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      width: 70%;
      align-items: flex-start;
      margin: 1rem auto;
      label {
        font-weight: 600;
      }
    }

    .socialContainer {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      align-items: center;
      width: 70%;
      margin: 1rem auto;
    }

    .goToSignUp {
      display: flex;
      gap: 0 0.3rem;
      justify-content: center;
      margin-top: 0.5rem;
    }
    .forget {
      text-align: right;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }
  &Form {
    padding: 2rem;
  }
}

.signup {
  &Container {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("https://images.unsplash.com/photo-1531545514256-b1400bc00f31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    .InputContainer {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      width: 60%;
      align-items: flex-start;
      margin: 1rem auto;
      label {
        font-weight: 600;
      }
    }

    .signUpform {
      position: absolute;
      top: 20px;
      right: $width/5;
      width: 60%;
      padding: 1rem 1rem;
      border-radius: 25px;

      .goToSignIn {
        display: flex;
        gap: 0 5px;
        justify-content: center;
      }
    }
  }
}
.forgetPassword {
  &Container {
    position: relative;
    width: 100%;
    height: 500px;
    .InputContainer {
      display: flex;
      align-items: center;
      gap: 0 1rem;
      width: 60%;
      margin: 1rem auto;
    }
  }
}
.middleLine:before {
  background-color: $middle-line-color;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 2rem;
  margin-right: 5px;
}
.middleLine:after {
  background-color: $middle-line-color;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 2rem;
  margin-left: 5px;
}
